@using Rent.Net.Models;
@model List<SumModel>
@{
    this.Layout = null;
}
<div class="payment-sums">
    @foreach (SumModel sumModel in this.Model)
    {
        @:$@sumModel.Amount
        <br />
        @sumModel.Name;
        <br />
    }
</div>