@using Rent.Net.Entities;
@using Rent.Net.Common;
@using Microsoft.AspNet.Identity;


Requests To Me:
@foreach(Request request in RentUtil.Database.Requests.Where(r => r.PayeeId == this.User.Identity.GetUserId()))
{
    <div>
        To: @request.Payee.UserName
        <br/>
        Amount: @request.Amount
        <br/>
        Notes: @request.Notes
        <br/>
        <button class="btn">Pay</button>
    </div>
}